/* GLOBAL CSS */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
}

h1{
    font-size: 2.6rem;
}

h2{
    font-size: 4.8rem;
}

h3{
    font-size: 3rem;
    font-weight: 23;
    color: cornsilk;
}

h4,
h5{
    font-size: 2.8rem;
}

li
button{
    font-size: 2rem;

}

a{
    color: #ffffff;
    text-decoration: none;
    font-size: 20px;
}

body{
    font-family: 'Poppins', sans-serif;
    background-image: url('ingl.jpg');
    background-position:top;
}

/* HEADER */

.main-head{
    background: #5e7669;
    color: #ffffff;
}

nav{
    min-height: 10vh;
    display: flex;
    align-items: center;
    width: 90%;
    margin: auto;
    padding: 2rem;
    flex-wrap: wrap;
}

nav ul{
    display: flex;
    flex:1 1 40rem ;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

#logo{
    flex:2 1 40rem ;
    font-family: "Pacifio", cursive;
    font-weight: lighter;
}
/* HERO */
.hero{

    background-size: cover;
    background-position: center;
    color: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

}

.hero h3{
    padding: 4rem;
}

button{
    padding: 2rem 6rem;
    background: #0a2b19;
    color: #9e9797;
    font-size: 1.8rem;
    cursor: pointer;
    border: none;    
}
@media screen and (max-width: 885px){

    html{
        font-size: 45%;
    }
    nav{
        text-align: center;
    }
    #logo{
        padding: 2rem;
    }
}



      




